<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>KanbanBoard | Change password</title>
</head>
<body>
<h1 style="text-align: center">
  <a href="/" style="color: blue; ">KanbanBoard</a>
</h1>
<hr>
<h2>CHANGE PASSWORD</h2>
<hr>

<h3>
  <a href="/profile">
    Back to profile
  </a>
</h3>
<hr>

<form method="post" action="/profile/changePassword">
  <div style="margin-top: 50px">
    <label>Current password
      <input name="oldPassword" type="password">
    </label>
  </div>

  <div style="margin-top: 10px;">
    <label>New password
      <input name="newPassword" type="password">
    </label>
  </div>

  <div style="margin-top: 10px;">
    <label>Confirm password
      <input name="confirmPassword" type="password">
    </label>
  </div>

  <button type="submit" style="margin-top: 10px;">Change password</button>
  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

</form>


</body>
</html>