<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>KanbanBoard | Edit profile</title>
  <style>
      a:hover {
          text-decoration: none;
      }
  </style>
</head>
<body>

<h1 style="text-align: center">
  <a href="/" style="color: blue; ">KanbanBoard</a>
</h1>
<hr>
<h2>EDIT PROFILE</h2>
<hr>

<h3>
  <a href="/profile">
    Back to profile
  </a>
</h3>
<hr>

<form method="post" action="/profile/edit">
  <div style="margin-top: 50px">
    <label>First name
      <input th:value="${principalDto.firstName}" name="firstName" type="text">
    </label>
  </div>

  <div style="margin-top: 10px;">
    <label>Last name
      <input th:value="${principalDto.secondName}" name="secondName" type="text">
    </label>
  </div>

  <div style="margin-top: 10px;">
    <label>E-mail
      <input th:value="${principalDto.mail}" name="mail" type="text">
    </label>
  </div>

  <button type="submit" style="margin-top: 10px;">Change personal data</button>
  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

</form>

</body>
</html>