<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>KanbanBoard | New release</title>
</head>
<body>


<h1 style="text-align: center">
  <a href="/" style="color: blue; ">KanbanBoard</a>
</h1>

<hr>
<h2>CREATE NEW RELEASE</h2>
<hr>

<h3>
  <a th:href="@{/projects/{projectId}/releases(projectId = ${projectId})}">
    Back to releases list
  </a>
</h3>
<hr>

<form method="post" th:action="@{/projects/{projectId}/releases(projectId = ${projectId})}">
  <div style="margin-top: 50px">
    <label>Version
      <input name="version" type="text">
    </label>
  </div>

  <div style="margin-top: 10px;">
    <label>Start date
      <input name="formStartDate" type="date">
    </label>
  </div>

  <div style="margin-top: 10px;">
    <label>End date
      <input name="formEndDate" type="date">
    </label>
  </div>

  <button type="submit" style="margin-top: 10px;">Create</button>
  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

</form>


</body>
</html>