<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>KanbanBoard | Release list</title>
  <style>
    table{
      border: 3px solid;
      border-collapse: separate;
      border-spacing: 7px 11px;
    }
  </style>
</head>
<body>

<h1 style="text-align: center">
  <a href="/" style="color: blue; ">KanbanBoard</a>
</h1>

<hr>
<h3>
  <a href="/profile" style="text-underline: none; color: blue">Profile</a>
</h3>

<div style="text-align: right">
  <form method="post" action="/logout">
    <button type="submit">Log out</button>
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
  </form>
</div>
<hr>

<h2 th:text="${projectDTO.title.toUpperCase()}"></h2>
<hr>

<h1 style="text-align: center">RELEASES LIST</h1>

<div style="text-align: center">
  <form th:action="@{/projects/{projectId}/releases/new (projectId = ${projectId})}" method="get">
    <button type="submit">Add new release</button>
  </form>
</div>

<hr>
<table style="table-border-color-dark: black;" align="center">
  <thead>
  <tr>
    <th>VERSION</th>
    <th>START DATE</th>
    <th>END DATE</th>
    <th>STATUS</th>
  </tr>
  </thead>
  <tbody th:each="release : ${projectDTO.releases}">
  <tr>
    <td>
      <a th:href="@{/projects/{projectId}/releases/{releaseId}(projectId = ${projectId}, releaseId = ${release.getId()})}"
         th:text="${release.getVersion()}"></a>
    </td>
    <td th:text="${release.getStartDate()}"></td>
    <td th:text="${release.getEndDate()}"></td>
    <td th:text="${release.getStatus()}"></td>
  </tr>
  </tbody>
</table>


</body>
</html>