<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="title" content="Create User">
    <title>KanbanBoard | Registration</title>
</head>
<body>
<div>
 <form method="post" action="/registration">
     <div><label> First name : <input type="text" name="firstName"/> </label></div>
     <div><label> Last name : <input type="text" name="lastName"/> </label></div>
     <div><label> User name: <input type="text" name="userName"/> </label></div>
     <div><label> E-mail: <input type="text" name="email"/> </label></div>
     <div><label> Password: <input type="password" name="password"/> </label></div>
     <div><label> Password(confirm): <input type="password" name="confirmPassword"/> </label></div>
     <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
     <div><input type="submit" value="Sign Up"/></div>
 </form>
</div>
</body>
</html>