<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tasks list</title>
    <style type="text/css">
        H1, H2 {display: inline-block;}
        FOR
        TABLE { width: 300px; border-collapse: collapse;}
        TD, TH {padding: 3px; border: 1px solid black;}
        TH {background: #b0e0e6;}
    </style>
</head>
<body>
<header>
    <nav>
        <a href="/users" th:href="@{/users}">USERS</a> |
        <a href="/projects" th:href="@{/users/profile/projects}">PROJECTS</a> |
        <a href="/releases"
           th:href="@{/users/profile/projects/{projectId}/releases(projectId=${projectId})}">RELEASES</a> |
        <a href="/tasks"
           th:href="@{/users/profile/projects/{projectId}/releases/{releaseId}/tasks(projectId=${projectId}, releaseId=${releaseId})}">TASKS</a>
        |
    </nav>
    <hr>
    <h1>Tasks list</h1>
    <h2>Release:</h2>
    <h2 th:text="${release.version}">release.version</h2>
    <p><span th:text="${user.username}">user.username</span></p>
    <div>
        <span th:text="${user.firstName}">user.firstName</span>
        <span th:text="${user.secondName}">user.secondName</span>
        <form method="get" action="/users/profile/"
              style="display: inline-block">
            <button type="submit" class="btn">Profile</button>
        </form>
        <form method="post" action="/logout" style="display: inline-block">
            <button type="submit" class="btn">Logout</button>
        </form>
    </div>
    <hr>
</header>
<form method="get" action="/tasks"
      th:action="@{/users/profile/projects/{projectId}/releases/{releaseId}/tasks( projectId=${projectId}, releaseId=${releaseId})}">
    <input type="search" name="search" placeholder="Search tasks" value="надо будет переделать с помощью th:value">
    <button type="submit" class="btn">Search</button>
</form>

<div>
    <table>
        <thead>
        <tr>
            <th><span th:text="${statuses[0]}"></span></th>
            <th><span th:text="${statuses[1]}"></span></th>
            <th><span th:text="${statuses[2]}"></span></th>
        </tr>
        </thead>
        <tbody>
        <tr>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>