<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tasks list</title>
</head>
<body>
<header>
    <p><span th:text="${}"></span>      </p>


</header>
<table>
    <thead>
    <tr>
        <th>1</th>
        <th>2</th>
        <th>3</th>
        <!--<th>profile link</th>-->
    </tr>
    </thead>
    <tbody>
    <tr th:each="task : ${tasksList}">
        <td><span th:text="${task.title}"> </span></td>
        <td><span th:text="${task.description}"> </span></td>
        <td><span th:text="${task.taskStatus}"> </span></td>
        <!--<td><link></td>-->
    </tr>
    </tbody>
</table>
</div>
</div>
</body>
</html>