<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>users list</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>user first name</th>
        <th>user second name</th>
        <th>user email</th>
        <!--<th>profile link</th>-->
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${usersList}">
        <td><span th:text="${user.firstName}"> </span></td>
        <td><span th:text="${user.secondName}"> </span></td>
        <td><span th:text="${user.mail}"> </span></td>
        <!--<td><link></td>-->
    </tr>
    </tbody>
</body>
</html>